doctype 5
html
  head
    title Parse Instagram Example
  body
    header
      h1 Parse Instagram Example
    article
      block content
    footer
      p Testing Instagram, express.js and parse.com
